.banner {
    background: url("https://i.pinimg.com/originals/e3/0c/fd/e30cfdb3d983d9ebb8210522f004f2e6.jpg") center center ;
    height: 58vh;
    position: relative;
        

}
.banner__info
{
    background-color: black;
    color: white;
    padding-top: 15vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width:300px;
    
}
.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top:20px;
    font-weight: 600;

}
.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
}
.banner__info > h5 {
    margin-top: 10px;

}
.banner__searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}
.banner__search {
    display: flex;
    flex-direction: column;
    
}